<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Rezervační systém" %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <%- include('partials/navbar', { user }) %>
      

  <div class="container mt-5">
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if (typeof success !== 'undefined') { %>
      <div class="alert alert-success"><%= success %></div>
    <% } %>

    <!-- obsah stránky -->
    <%- body %>
  </div>

  <!-- PATIČKA -->
<footer class="footer bg-light">
    <div class="container">
      &copy; <%= new Date().getFullYear() %> Rezervační systém VR
    </div>
  </footer>
</body>
</html>
